name: CI
permissions:
  contents: read

on: pull_request

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: ShellCheck
        run: shellcheck action.sh

  dogfooding:
    name: Dogfooding
    runs-on: ubuntu-latest
    needs: shellcheck
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Eating our own dogfood
        uses: ./
        with:
          skip-checkout: true
